<template>
  <div>
    <a-row :gutter="[16, 16]">
      <a-col :span="24">
        <h1 style="text-align: center; font-weight: bold;">
          {{ countDownLabel }}
        </h1>
        <client-only>
          <flip-countdown :deadline="deadLine" @timeElapsed="timeElapsedHandle" />
        </client-only>
      </a-col>
      <a-row>
        <a-col :span="12">
          <h4>{{ user.full_name.length > 0 ? `Hello, ${user.full_name}`:'' }}</h4>
          <a-button v-if="user.full_name.length > 0" @click="changeUser()">
            Change
          </a-button>
        </a-col>
        <a-col style="text-align: right" :span="12">
          <a-button @click="visibleOrderStatus()">
            Orders
          </a-button>
        </a-col>
      </a-row>
      <a-col
        v-for="product in products"
        :key="product.product_id"
        :span="24"
        :lg="6"
        :md="8"
        :sm="12"
      >
        <ProductCard :restrict-buy="restrictBuy" :product="product" />
      </a-col>
    </a-row>
    <a-modal v-model="orderModal" :footer="null" title="Orders">
      <div style="width: 100%; text-align: right;">
        <a-button style="margin-bottom: 5px;" @click="fetchData()">
          Refresh
        </a-button>
      </div>
      <a-table :loading="tableLoading" :columns="orderColumns" :data-source="orders">
        <a slot="order_id" slot-scope="text">{{ text }}</a>
        <span slot="order_status" slot-scope="status">
          <a-tag
            :color="
              status === 0 ? 'yellow' : status === 1 ? 'green' : 'red'
            "
          >
            {{ status === 0 ?'Pending'.toUpperCase() : status === 1 ? 'Success'.toUpperCase() : status === 2 ? 'Sold out'.toUpperCase() : "FAILED" }}
          </a-tag>
        </span>
      </a-table>
    </a-modal>
    <UserLogin :visible.sync="userLogin" />
  </div>
</template>

<script>
import FlipCountdown from 'vue2-flip-countdown'
export default {
  name: 'IndexPage',
  components: { FlipCountdown },
  layout: 'FlashSales',
  data () {
    return {
      tableLoading: false,
      flashsale: {},
      orderColumns: [
        {
          dataIndex: 'order_id',
          key: 'order_id',
          title: '#',
          scopedSlots: { customRender: 'order_id' }
        },
        {
          dataIndex: 'product_name',
          key: 'product_name',
          title: 'Product Name'
        },
        {
          title: 'Status',
          key: 'order_status',
          dataIndex: 'order_status',
          scopedSlots: { customRender: 'order_status' }
        }
      ],
      countDownLabel: 'Start',
      deadLine: '',
      restrictBuy: false,
      userLogin: false
    }
  },
  async fetch () {
    const products = await this.$axios.$get('/get-product-on-sale')
    this.$store.commit('saveProducts', products)
    this.flashsale = await this.$axios.$get('/get-lastest-flashsale').then((r) => {
      const start = new Date(r.flashsale_start)
      const today = new Date()
      if (today >= start) {
        this.countDownLabel = 'END ON'
        this.deadLine = r.flashsale_end
        this.restrictBuy = false
      } else {
        this.countDownLabel = 'START ON'
        this.deadLine = r.flashsale_start
        this.restrictBuy = true
      }
      return r
    })
  },
  computed: {
    user () {
      return this.$store.state.user
    },
    products () {
      return this.$store.state.products
    },
    orders () {
      return this.$store.state.orders
    },
    orderModal: {
      get () { return this.$store.state.orderModal },
      set (val) { this.$store.commit('toggleOrderModal', val) }
    }
  },
  mounted () {
    this.userLogin = true
  },
  methods: {
    visibleOrderStatus () {
      this.$store.commit('toggleOrderModal', true)
    },
    fetchData () {
      this.tableLoading = true
      this.$axios.$get(`/get-orders?phone=${this.user.phone}`).then((r) => {
        this.$store.commit('saveOrders', r)
      })
      this.tableLoading = false
    },
    timeElapsedHandle () {
      // if start on -> end on and otherwise
      if (this.deadLine === this.flashsale.flashsale_start) {
        this.restrictBuy = false
        this.deadLine = this.flashsale.flashsale_end
        this.countDownLabel = 'END ON'
      } else {
        this.restrictBuy = true
        this.countDownLabel = 'ENDED'
      }
    },
    changeUser () {
      this.userLogin = true
    }
  }
}
</script>
