<template>
  <a-layout id="components-layout-demo-fixed">
    <a-layout-header :style="{ position: 'fixed', zIndex: 1, width: '100%' }">
      <h4 :style="{color: '#fff', textAlign: 'center', fontSize: '20pt'}">
        FLASH SALE TODAY
      </h4>
    </a-layout-header>
    <a-layout-content :style="{ padding: '0 10px', marginTop: '64px' }">
      <div :style="{ background: '#fff', padding: '24px', minHeight: '380px' }">
        <Nuxt />
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script>
export default {
}
</script>

<style>

</style>
