<template>
  <a-modal v-model="visible" title="Basic Modal">
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
  </a-modal>
</template>
<script>
export default {
  props: {
    orderStatus: { type: Boolean, default: false }
  }
}
</script>
