<template>
  <div>
    <a-card class="product" hoverable style="width: 100%;" @click="onClickToBuy(product)">
      <img
        slot="cover"
        alt="Click to buy"
        style="height: 500px"
        :src="product.product_image"
      >
      <a-card-meta :title="product.product_name">
        <template slot="description">
          {{ product.product_information }}
          <br>
        </template>
      </a-card-meta>
      <template slot="actions">
        <div>
          <strike>
            {{ `${product.product_price}$` }}
          </strike>
          <a-icon type="arrow-right" />
          <span style="font-weight: bold; font-size: 20px">{{ `${product.product_flashsale_price}$` }}</span>
        </div>
        <a-icon type="shopping-cart" />
        <div>
          Qty:<span :style="{color: product.product_qty > 0 ? 'green' : 'red'}"> {{ product.product_qty > 0 ? product.product_qty : 'out of stock' }}</span>
        </div>
      </template>
    </a-card>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      default () {
        return {}
      }
    },
    restrictBuy: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    user () {
      return this.$store.state.user
    }
  },
  methods: {
    onClickToBuy (product) {
      if (this.restrictBuy) {
        alert(' You cannot buy now')
      } else {
        // const h = this.$createElement
        const axios = this.$axios
        const notify = this.$notification
        const user = this.user
        this.$confirm({
          title: 'Do you want to buy this item?',
          content: 'When clicked the OK button, your request purchase will be send to system to process and return status after',
          onOk () {
          // alert('Thank you for purchased ' + product.product_name)
            const flashsaleDetail = product.flashsale_detail_id
            axios.$post('buy-product-action', { user, flashsale_detail: flashsaleDetail }).then((r) => {
              notify.success({
                message: 'Your order in queue',
                description:
              'Your order is pending in process, you can check it in Order button, thank you for choose this service.'
              })
            })
          },
          onCancel () {}
        })
      }
      // this.$success({
      //   title: 'This is a success message',
      //   // JSX support
      //   content: h('div', {}, [
      //     h('p', 'some messages...some messages...'),
      //     h('p', 'some messages...some messages...')
      //   ])
      // })
    }
  }
}
</script>
