<template>
  <div>
    <a-modal v-model="visibleModel" title="User Information" :closable="false">
      <a-row :gutter="[16,16]">
        <a-col span="24">
          <a-input v-model="user.full_name" placeholder="Fullname. ex: John Herry" />
        </a-col>
        <a-col span="24">
          <a-input v-model="user.address" placeholder="Address. ex: 1st Howard street" />
        </a-col>
        <a-col span="24">
          <a-input v-model="user.phone" placeholder="Phone. ex: +820000229" />
        </a-col>
      </a-row>
      <template slot="footer">
        <a-button key="submit" type="primary" :loading="loading" @click="handleSubmit">
          Submit
        </a-button>
      </template>
    </a-modal>
  </div>
</template>
<script>
import Pusher from 'pusher-js'
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      loading: false,
      user: {
        full_name: '',
        phone: '',
        address: ''
      }
    }
  },
  computed: {
    visibleModel: {
      get () { return this.visible },
      set (value) { this.$emit('update:visible', value) }
    }
  },
  methods: {
    handleSubmit () {
      this.$store.commit('saveUser', JSON.parse(JSON.stringify(this.user)))
      this.visibleModel = false
      this.$axios.$get(`/get-orders?phone=${this.user.phone}`).then(r =>
        this.$store.commit('saveOrders', r)
      )
      const notify = this.$notification
      const axios = this.$axios
      const pusher = new Pusher('6cbacf607c9e7a81dd19', {
        cluster: 'ap1'
      })
      const channel = pusher.subscribe('my-channel')
      this.userLogin = true
      const user = this.user
      const store = this.$store
      channel.bind('notification', function (data) {
        if (data.type === 'success') {
          notify.success({
            message: 'Order status',
            description: data.message
          })
        } else {
          notify.error({
            message: 'Order status',
            description: data.message
          })
        }
        axios.$get(`/get-orders?phone=${user.phone}`).then((r) => { store.commit('saveOrders', r) })
        axios.$get('/get-product-on-sale').then((r) => {
          store.commit('saveProducts', r)
        })
        store.commit('toggleOrderModal', true)
      })
    }
  }
}
</script>
